:host {
  position: absolute;
  height: 320px;
  width: 8px;
  margin-top: 40px;
  top: 0;
  right: 18px;
}

.wrapper {
  position: relative;
  border-radius: 5px;
}

.range {
  position: absolute;
  width: 100%;
}

.handler {
  border-radius: 5px;
  width: 8px;
  margin: 0 auto;
  display: block;
  position: absolute;
  background-color: #e5e5e5;
  border: 1px solid #d0d0d0;
  cursor: pointer;
}
