<app-slide-menu></app-slide-menu>
<app-down-arrow></app-down-arrow>
<div class="space" #home></div>
<app-scroll-navbar [sectionsTop]="sections"></app-scroll-navbar>
<section #about>
  <app-prograss-bar></app-prograss-bar>
</section>
<div class="container" #services>
  <app-timeline></app-timeline>
</div>
<section #portfolio>
  <app-hi-icon icon="fa-amazon"></app-hi-icon>
</section>
<app-triangle-box style="margin-left:10px;"></app-triangle-box>
<app-slide-menu-full></app-slide-menu-full>
<section #news>
  <app-video-player thumbUrl="https://i.vimeocdn.com/video/629997474.webp?mw=800&mh=450" videoUrl="https://03-lvl3-pdl.vimeocdn.com/01/4175/1/45878034/109676038.mp4?expires=1515400002&token=01719db9c18b2bd1bac22"></app-video-player>
</section>
<section class="scroll-panel-wrapper" #scrollpanel>
  <app-scroll-panel>
    <div id="wrapper-resume">
      <div class="resume">
        <h2>Education &amp; Jobs</h2>
      </div>
      <div class="clearfix">
        <div class="left">
          <h4>Art Director</h4>
          <span>Eskadra Opcom, Cracow, Cracow</span>
        </div>
        <div class="right">
          <span>Jan 1996 - Dec 2001</span>
        </div>
      </div>
      <div class="clearfix">
        <div class="left">
          <h4>Senior Web Designer</h4>
          <span>Pride &amp; Glory Interactive, Poland, Cracow</span>
        </div>
        <div class="right">
          <span>Jan 1996 - Dec 2001</span>
        </div>
      </div>
      <div class="clearfix">
        <div class="left">
          <h3>Graphic Designer</h3>
          <span>K2, Poland, Warsaw </span>
        </div>
        <div class="right">
          <span>Jan 1996 - Dec 2001</span>
        </div>
      </div>
      <div class="clearfix">
        <div class="left">
          <h4>Junior Web Designer</h4>
          <span>ArsThanea, Poland, Warsaw</span>
        </div>
        <div class="right">
          <span>Jan 1996 - Dec 2001</span>
        </div>
      </div>
      <div>
        <h2>Skills &amp; Attributes</h2>
      </div>
      <div class="clearfix">
        <div class="left">
          <h4>Wordpress</h4>
          <ul class="ratting">
            <li></li>
            <li></li>
            <li></li>
            <li class="grey"></li>
          </ul>
        </div>
        <div class="right">
          <span>Sed sapien urna, auctor et accumsan ut. Sed sapien urna, auctor et</span>
        </div>
      </div>
      <div class="clearfix">
        <div class="left">
          <h4>HTML5 &amp; CSS3</h4>
          <ul class="ratting">
            <li></li>
            <li></li>
            <li class="grey"></li>
            <li class="grey"></li>
          </ul>
        </div>
        <div class="right">
          <span>Mauris cursus metus in nulla eleifend ullamcorper placerat massa pharetra.</span>
        </div>
      </div>
      <div class="clearfix">
        <div class="left">
          <h4>AJAX &amp; jQuery</h4>
          <ul class="ratting">
            <li></li>
            <li></li>
            <li></li>
            <li class="grey"></li>
          </ul>
        </div>
        <div class="right">
          <span>Quisque laoreet dapibus neque blandit vestibulum.</span>
        </div>
      </div>
      <div class="clearfix no-border">
        <div class="left">
          <h4>Python &amp; Django</h4>
          <ul class="ratting">
            <li></li>
            <li class="grey"></li>
            <li class="grey"></li>
            <li class="grey"></li>
          </ul>
        </div>
        <div class="right">
          <span>Class aptent taciti sociosqu ad litora torquent per conubia nostra.</span>
        </div>
      </div>
      <a href="#" class="button">Download the CV</a>
    </div>
    <div class="wrappe">
      <app-dropdown-input [items]="keyvalues"></app-dropdown-input>
    </div>
    <div class="wrapper">
      <app-input></app-input>
    </div>
  </app-scroll-panel>
</section>

<app-tab-panel></app-tab-panel>
<div class="wrapper">
  <app-round-control></app-round-control>
</div>
<div class="wrapper">
  <app-vote-rate currentValue="2" (vote)="dovote($event)"></app-vote-rate>
</div>
<div class="wrapper">
  <app-gallery-item src="assets/images/example_4.jpg" title="LOREM IPSUM DOLOR" description="Some description"></app-gallery-item>
  <app-gallery-item-animate src="assets/images/example_4.jpg" title="LOREM IPSUM DOLOR" description="Some description"></app-gallery-item-animate>
</div>
<app-gallery #gallery title="Sortable Gallery" [photos]="photos"></app-gallery>
<div class="wrapper">
  <app-collapse-panel-other title="Title">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius ligula et enim posuere ac hendrerit eros varius. Mauris ut sollicitudin odio. Aliquam in facilisis massa. Donec vel est adipiscing dui congue bibendum. Aliquam aliquam sollicitudin euismod. Fusce sit amet scelerisque urna. Curabitur ultrices velit sed metus dignissim venenatis. Vivamus urna augue, tincidunt at semper eget, tincidunt vel est. Donec vitae tortor nec orci mattis lobortis. Vivamus id libero est. Proin quis nunc non tortor ornare tempor fermentum at dolor. Cras vel turpis magna.</p>
  </app-collapse-panel-other>
</div>

<div class="wrapper">
  <app-collapse-panel title="Title">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
    <p>
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
      desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </app-collapse-panel>
</div>
