app-scroll-panel {
  margin-bottom: 30px;
}

.space {
  width: 100%;
  height: 100%;
}

.sticky {
  position: fixed;
  height: 80px;
  top: 0;
}

.wrapper,
.wrapper-w {
  background-color: #ebeae7;
  padding: 10px 60px;
  position: relative;
}

.wrapper-w {
  background-color: white;
  padding: 30px;
}

.scroll-panel-wrapper {
  width: 600px;
  height: 400px;
  margin: 20px auto;
  background-color: #FFF;
}

app-slide-carousel {
  width: 900px;
  height: 400px;
}

app-roll-carousel {
  width: 900px;
  height: 80px;
}

app-drag-uploader {
  width: 600px;
  height: 300px;
}
