<a (click)="dovote(0)" (mouseenter)="dohover(0)">
  <i class="fa fa-star" [ngClass]="{'active':states[0]}"></i>
</a>
<a (click)="dovote(1)" (mouseenter)="dohover(1)">
  <i class="fa fa-star" [ngClass]="{'active':states[1]}"></i>
</a>
<a (click)="dovote(2)" (mouseenter)="dohover(2)">
  <i class="fa fa-star" [ngClass]="{'active':states[2]}"></i>
</a>
<a (click)="dovote(3)" (mouseenter)="dohover(3)">
  <i class="fa fa-star" [ngClass]="{'active':states[3]}"></i>
</a>
<a (click)="dovote(4)" (mouseenter)="dohover(4)">
  <i class="fa fa-star" [ngClass]="{'active':states[4]}"></i>
</a>
